h1, h2 {
    font-family: serif;
}

h3, p, li{
    font-family: sans-serif;
}

h1,h2,h3,p,hr,small{
    padding-left: 6.4px;
    padding-right: 6.4px;
}


header {
    height: 50px;
}

aside {
    box-sizing: border-box;
    width: 15%;
    float: left;
    background-color: rgb(243, 235, 235);
    padding: 10px;
}

div {
    display: block;
}

.aside-ul {
    list-style-type:none;
    padding: 3px;
}
section {
    width:  85%;
    float: right;
}

#tutank {
    margin-left: 6px;
    text-align: center;
    float: right;
    border: solid 1px grey;
    padding: 4px;
    
}

#img-1 {
    width: 270px;
    height: 338px;
}

#tutank * {
    margin: 0px;
    padding: 2.5px;
}

#image-h2 {
    background-color: #decd87;
}

#head-padding{
    padding: 5px;
    margin: 5px;
}



#content {
    margin-left: 6.4px;
    display: table;
    border: solid 1px gray;
    background-color: rgb(242, 236, 236);
    padding-right: 2em;
}

h2, h3 {
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 3px;
}

hr {
    margin-top: 0px;
}

#img-2 {
    width: 172px;
}

#queen {
    margin-left: 6px;
    margin-top: 16px;
    text-align: center;
    float: right;
    border: solid 1px grey;
    padding: 4px;
    width: 172px;
}

small {
    display: block;
}

@media screen and (max-width:500px) {
    aside {
        float:none;
        width:auto
    }
    section {
        float:none;
        width: auto;
    }

    #tutank {
        float: none;
    }

    #queen {
        float: none;
    }
}